#a1{
    background-color: rgb(173, 49, 49);
    width: 400px; height: 100px;
    margin: 20px 20px;
}
#a2{
    background-color: rgb(166, 255, 0);
    width: 580px; height: 100px;
    margin: 20px 420px;
}
#b1{
    background-color: rgb(235, 130, 212);
    width: 1000px; height: 150px;
    margin: 0px;
}
#c1{
    background-color: rgb(101, 158, 101);
    width: 319px; height: 100px;
    margin: 2px;
}
#c2{
    background-color: rgb(226, 24, 91);
    width: 300px; height: 100px;
    margin: 22px 32px 16px 345px;
}
#c3{
    background-color: violet;
    width: 320px; height: 100px;
    margin: 22px 20px 14px 333px;
}
#d1{
    background-color: orangered;
    width: 485px; height: 100px;
    margin: 0px 0px 12px -348px;
}
#d2{
    background-color: greenyellow;
    width: 485px; height: 100px;
    margin: 20px 517px;
}
#e1{
    background-color: rgb(77, 20, 211);
    width: 210px; height: 100px;
    margin: 2px;
}
#e2{
    background-color: aqua;
    width: 210px; height: 100px;
    margin: 20px 262px;
} 
#e3{
    background-color: red;
    width: 210px; height: 100px;
    margin: 20px 262px;
}
#e4{
    background-color: rgb(99, 202, 228);
    width: 210px; height: 100px;
    margin: 20px 262px;
}
#f1{
    background-color: rgb(165, 42, 93);
    width: 990px; height: 100px;
    margin: 0px 0px 0px -523px;
}